<div class="card">
    <p-table [value]="ausencias" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }"
       >
        <ng-template #header>
            <tr>
                <th>No.</th>
                <th style="width:25%">Fecha de inico</th>
                <th style="width:25%">Fecha fin</th>
                <th style="width:25%">Tipo de ausencia</th>
                <th style="width:25%">Comentarios</th>
            </tr>
        </ng-template>
        <ng-template #body let-ausencia let-i="rowIndex">
            <tr [pSelectableRow]="ausencia">
                <td>{{ i + 1 }}</td>
                <td>{{ ausencia.fechaInicio | date: 'dd/MM/yyyy' }}</td>
                <td>{{ ausencia.fechaFin | date: 'dd/MM/yyyy' }}</td>
                <td>{{ ausencia.tipo }}</td>
                <td>{{ ausencia.comentarios }}</td>
            <tr>

            </tr>
        </ng-template>
    </p-table>
</div>