<div class="card-container-estatus">
    <div class="">
        <div class="p-field">
            <label for="fechaInicio">Fecha de Inicio</label>
            <input class="p-inputtext" [value]="solicitud.fechaInicio" type="text" disabled="true" pInputText />
        </div>
        <div class="p-field">
            <label for="fechaFin">Fecha de Fin</label>
            <input class="p-inputtext" [value]="solicitud.fechaFin" type="text" disabled="true" pInputText />
        </div>
        <div class="p-field">
            <label for="tipo">Tipo de ausencia</label>
            <p-select id="tipo" [disabled]="true" [placeholder]="solicitud.tipo">
                <option value="">{{solicitud.tipo}}</option>
            </p-select>
        </div>
        <div class="p-field">
            <label for="comentarios">Comentarios del usuario</label>
            <textarea id="comentarios" [ngModel]="solicitud.comentarios" rows="3" pInputTextarea readonly></textarea>
        </div>

    </div>
    <mat-divider></mat-divider>
    <div>
        <div class="p-field">
            <label for="tipo">Actualizar Estatus</label>
            <p-select id="tipo" [options]="estatus" optionValue="value" [(ngModel)]="estatusValor" optionLabel="name"
                placeholder="Selecciona un estatus">
            </p-select>
        </div>
        <div class="p-field">
            <label for="comentarios">Comentarios</label>
            <textarea id="comentarios" [(ngModel)]="comentarios" rows="3" pInputTextarea></textarea>
        </div>
    </div>
    <mat-divider></mat-divider>

    <div>
        <div class="p-field">
            <p-button label="Guardar"  [disabled]="!estatusValor" (onClick)="ActualizarEstatus()" />
        </div>
    </div>
</div>
<p-toast [life]="2500" />